.project-tasks {
    position: fixed;
    margin-top: 50px;
    margin-left: 80%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    grid-column-gap: 1.5rem;
    max-height: 80%;
    overflow: scroll;
    overflow-x: hidden;
}

.project-column-heading {
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.project-column-heading__title {
    font-size: 20px;
    color: white;
}

.project-column-heading__options {
    background: transparent;
    color: white;
    font-size: 18px;
    border: 0;
    cursor: pointer;
}

.task {
    cursor: pointer;
    backdrop-filter: blur(5px);
    background: #00000050;
    padding: 1rem;
    border-radius: 8px;
    width: 100%;
    box-shadow: rgba(99, 99, 99, 0.1) 0px 2px 8px 0px;
    margin-bottom: 1rem;
    border: 3px dashed transparent;
    transition: 0.4s;
    box-shadow: rgba(99, 99, 99, 0.3) 0px 2px 8px 0px;
    border-color: rgba(162, 179, 207, 0.2) !important;
}

.task:hover {
    transition: 0.4s;
    box-shadow: rgba(207, 207, 207, 0.753) 0px 2px 8px 0px;
    border-color: rgba(204, 212, 224, 0.623) !important;
}

.task p {
    color: white;
    font-size: 15px;
    margin: 1.2rem 0;
}

.task__tag {
    color: white;
    border-radius: 100px;
    padding: 2px 13px;
    font-size: 12px;
}

.task__tag--copyright {
    color: white;
    background-color: #00000028;
}

.task__tag--design {
    color: white;
    background-color: #00000028;
}

.task__tag--illustration {
    color: white;
    background-color: white;
}

.task__tags {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.task__options {
    background: transparent;
    cursor: pointer;
    border: 0;
    color: white;
    font-size: 17px;
}

.task__stats {
    position: relative;
    width: 100%;
    color: gray;
    font-size: 12px;
}

.task__stats span:not(:last-of-type) {
    margin-right: 1rem;
}

.task__stats svg {
    margin-right: 5px;
}

.task-hover {
    border: 3px dashed gray !important;
}

.task-details {
    width: 24%;
    border-left: 1px solid #d9e0e9;
    display: inline-block;
    height: 100%;
    vertical-align: top;
    padding: 3rem 2rem;
}

/*------------------------------------------------*/

.two-project-tasks {
    position: fixed;
    margin-top: 3.6%;
    margin-left: 140%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    grid-column-gap: 1.5rem;
    max-height: 80%;
    overflow: scroll;
    overflow-x: hidden;
}

.two-project-column-heading {
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.two-project-column-heading__title {
    font-size: 20px;
    color: white;
}

.two-project-column-heading__options {
    background: transparent;
    color: white;
    font-size: 18px;
    border: 0;
    cursor: pointer;
}

.two-task {
    cursor: pointer;
    backdrop-filter: blur(5px);
    background: #00000050;
    padding: 1rem;
    border-radius: 8px;
    width: 100%;
    box-shadow: rgba(99, 99, 99, 0.1) 0px 2px 8px 0px;
    margin-bottom: 1rem;
    border: 3px dashed transparent;
    transition: 0.4s;
    box-shadow: rgba(99, 99, 99, 0.3) 0px 2px 8px 0px;
    border-color: rgba(162, 179, 207, 0.2) !important;
}

.two-task:hover {
    transition: 0.4s;
    box-shadow: rgba(207, 207, 207, 0.753) 0px 2px 8px 0px;
    border-color: rgba(204, 212, 224, 0.623) !important;
}

.two-task p {
    color: white;
    font-size: 15px;
    margin: 1.2rem 0;
}

.task__tag {
    color: white;
    border-radius: 100px;
    padding: 2px 13px;
    font-size: 12px;
}

.two-task__tag--copyright {
    color: white;
    background-color: #00000028;
}

.two-task__tag--design {
    color: white;
    background-color: #00000028;
}

.two-task__tag--illustration {
    color: white;
    background-color: white;
}

.two-task__tags {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.two-task__options {
    background: transparent;
    cursor: pointer;
    border: 0;
    color: rgb(0, 195, 255);
    font-size: 17px;
}

.two-task__stats {
    position: relative;
    width: 100%;
    color: gray;
    font-size: 12px;
}

.two-task__stats span:not(:last-of-type) {
    margin-right: 1rem;
}

.two-task__stats svg {
    margin-right: 5px;
}

.task-hover {
    border: 3px dashed gray !important;
}

.two-task-details {
    width: 24%;
    border-left: 1px solid #d9e0e9;
    display: inline-block;
    height: 100%;
    vertical-align: top;
    padding: 3rem 2rem;
}